.styled-optionbox-option {

	text-align : left;
	border-bottom : 1px solid #ccc;
	padding       : 20px 20px 20px 20px;

	input {
		display : none !important;

		+ label {
			cursor    : pointer;
			font-size : $font-size-base;
			margin    : 0;
			position: relative;

			div {
				margin : 0 0 0 40px;
			}

			&:before {
				content        : '\f10c';
				font-family    : 'FontAwesome';
				font-size      : 16px;
				display        : inline-block;
				line-height    : 18px;
				vertical-align : middle;
				text-align     : center;
				color          : $brand-primary;
				//border: 1px solid $cg6;
				//border-radius: 2px;
				//background: $cg0;
				margin-right   : 5px;
				font-weight    : normal;

				position: absolute;
				top: 50%;
				transform: translateY(-50%);

			}
		}

		&:checked {
			+ label {
				&:before {
					content     : '\f192';
					font-family : 'FontAwesome';
					//color: $cg8;
					//border-color: $colorMain;
					//background: $colorInfo !important;
				}
			}
		}
	}

	&:hover {
		input {
			+ label {

				color : $gray-light;

				&:before {
					color : $gray-light;
				}
			}
		}
	}
}
